* {
  font-family: "Arial", sans-serif;
  background-color: whitesmoke;
}

.header {
  color: white;
  background-color: rgba(0, 106, 122, 0.5);
  text-align: center;
  padding: 50px;
  font-size: 80px;
}

.goal_list {
  margin: 30px;
}
